@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #5f5cf6;
  color: white;
}

button,
a {
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}